{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sistema de Controle de Estacionamento</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <script defer src="{% static 'js/custom.js' %}"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <style>
            .navbar-item img {
                max-height: 115px;
            }

            a.navbar-item:hover {
                background-color: #3273dc;
                font: white;
                text-decoration: underline;
            }

            .navbar-menu {
                background-color: #3273dc;
            }

            .footer {
                padding: 2rem 1.5rem 2rem;
            }

            .dropdown-menu {
                top: 60%;
            }

        </style>
    </head>