<section class="section has-background-primary-light">
            <div class="container">
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Clientes</p>
                                    <p class="title">210</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Funcionários</p>
                                    <p class="title">5</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Veiculos</p>
                                    <p class="title">20</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Vagas</p>
                                    <p class="title">35</p>
                                </div>
                            </div>

                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Ocupaçao</p>
                                    <p class="title">120</p>
                                </div>
                            </div>
                        </div>
            </div>
</section>