<section class="section has-background-primary-light">
            <div class="container">
                        <div class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Clientes Pessoa Fisica</p>
                                    <p class="title">{{ qtd_clientespf }}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Clientes Pessoa Juridica</p>
                                    <p class="title">{{ qtd_clientespj }}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Funcionários</p>
                                    <p class="title">{{ qtd_funcionarios }}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Veiculos</p>
                                    <p class="title">{{ qtd_veiculos }}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Vagas</p>
                                    <p class="title">{{ qtd_vagas }}</p>
                                </div>
                            </div>

                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Ocupaçao</p>
                                    <p class="title">{{ qtd_ocupadas }}</p>
                                </div>
                            </div>
                        </div>
            </div>
</section>