{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section has-background-link-light">
    <div class="container">
        <form id="form ListaFuncinarios" action="" method="GET">
            <input type="hidden" name="imprimir" id="imprimir" value="">
            <div class="field is-grouped is-flex is align-items-center is-flex-wrap-wrap">
                <label class="label p-2 mt-2">Nome do funcionário:</label>
                <div class="control is-expanded">
                    <input class="input" type="text" name="buscar" value="{{ request.GET.buscar }}"
                           placeholder="Digite o nome do funcionário">
                </div>
                <div class="control">
                    <button type="button" class="button is-link" onclick="geraPdf('', 'formListaFuncionariso');">
                        Buscar
                    </button>
                </div>
                {% if object_list %}
                <div class="control">
                    <button type="button" class="button is-link" onclick="geraPdf('pdf', 'formListaFuncionarios');">
                        Imprimir
                    </button>
                </div>
                {% endif %}
            </div>
        </form>
        {% if object_list %}
        <div style="text-align: center;"><h1 class="subtitle is-size-4">Funcionários Cadastrados</h1></div>
        <div class="table">
            <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Nome</th>
                    <th class="has-text-centered">CPF</th>
                    <th class="has-text-centered" style="width: 100px;">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for funcionario in object_list %}
                <tr>
                    <td><a href="" data-toggle="modal" class="modal-target"
                           data-bulma-modal="modal{{funcionario.id}}" id="modal{{funcionario.id}}">
                        {{ funcionario.nome }} </a></td>
                    <td> {{ funcionario.cpf }}</td>
                    <td class="has-text-centered is-flex-wrap-nowrap is-justify-content-center">
                        <a href="{%url 'funcionario_editar' funcionario.pk %}">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <a href="{%url 'funcionario_apagar' funcionario.pk %}">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                    <div class="modal" id="modal{{ funcionario.id }}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Funcionario: {{ funcionario.nome }}</p>
                                <button class="delete" aria-label="close" data-bulma-modal="close"
                                        id="btnClose"></button>
                            </header>
                            <section class="modal-card-body is-flex is-justify-content-center">
                                <div class="content">
                                    <p class="image is-128x128">
                                        <img src="{{ funcionario.foto.url }}" alt="" class="img-fluid">
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h2>Nao existem profissionaais cadastrados!</h2>
        {% endif %}
    </div>
    <div class="mt-3" style="text-align: center">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page={{ object_list.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                <strong>{{ object_list.number }}</strong> de {{ object_list.paginator.num_pages }}
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}">Próxima</a>
            {% endif %}
         </span>
    </div>
</section>
{% endblock %}