{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section has-background-link-light">
    <div class="container">
        <form id="formListClientespj" action="" method="GET">
            <input type="hidden" name="imprimir" id="imprimir" value="">
            <div class="field is-grouped is-flex is align-items-center is-flex-wrap-wrap">
                <label class="label p-2 mt-2">Nome do cliente:</label>
                <div class="control is-expanded">
                    <input class="input" type="text" name="buscar" value="{{ request.GET.buscar }}"
                           placeholder="Digite o nome do cliente">
                </div>
                <div class="control">
                    <button type="button" class="button is-link" onclick="geraPdf('', 'formListaClientespj');">
                        Buscar
                    </button>
                </div>
                {% if object_list %}
                <div class="control">
                    <button type="button" class="button is-link" onclick="geraPdf('pdf', 'formListaClientespj');">
                        Imprimir
                    </button>
                </div>
                {% endif %}
            </div>
        </form>
        {% if object_list %}
        <div style="text-align: center;"><h1 class="subtitle is-size-4">Clientes PJ Cadastrados</h1></div>
        <div class="table">
            <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Nome</th>
                    <th class="has-text-centered">Data de Nascimento</th>
                    <th class="has-text-centered">CNPJ</th>
                    <th class="has-text-centered" style="widht: 100px;">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for clientepj in object_list %}
                <tr>
                    <td><a href="" data-toggle="modal" class="modal-target"
                           data-bulma-modal="modal{{clientepj.id}}" id="modal{{clientepj.id}}">
                        {{ clientepj.nome }} </a></td>
                    <td> {{ clientepj.datanascimento }}</td>
                    <td> {{ clientepj.cnpj }}</td>
                    <td class="has-text--centered is-flex is-flex-wrap-nowrap is-justify-content-center">
                        <a href="{% url 'clientepj_editar' clientepj.pk %}">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <a href="{% url 'clientepj_apagar' clientepj.pk %}">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                    <div class="modal" id="modal{{ clientepj.id }}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Cliente: {{ clientepj.nome }}</p>
                                <button class="delete" aria-label="close" data-bulma-modal="close"
                                        id="btnClose"></button>
                            </header>
                        </div>
                    </div>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "paginator.html" %}
</section>
{% endif %}
{% endblock %}