{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section has-background-link-light">
    <div class="container">
        <form action="" method="GET">
            <div class="field is-grouped is-flex is-align-items center is-flex-wrap-wrap">
                <label class="label p-2 mt-2">{{ form.funcionario.label }}</label>
                <div class="control is-expanded">
                    {{ form.funcionario }}
                </div>
                <label class="label p-2 mt-2">{{ form.vaga.label }}</label>
                <div class="control is-expanded">
                    {{ form.vaga }}
                </div>
                <label class="label p-2 mt-2">{{ form.situacao.label }}</label>
                <div class="control is-expanded">
                    {{ form.situacao }}
                </div>
                <div class="control">
                    <button type="submit" class="button is-link">
                        Buscar
                    </button>
                </div>
            </div>
        </form>
        {% if object_list %}
        <div style="text-align: center;"><h1 class="subtitle is-size-4">Movimentações</h1></div>
        <div class="table">
            <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Entrada</th>
                    <th class="has-text-centered">Saida</th>
                    <th class="has-text-centered">Valor Pago</th>
                    <th class="has-text-centered">Tempo</th>
                    <th class="has-text-centered">Vaga</th>
                    <th class="has-text-centered">Funcionário</th>
                    <th class="has-text-centered">Situacão</th>
                </tr>
                </thead>
                <tbody>
                {% for movimentacao in object_list %}
                <tr>
                    <td> {{ movimentacao.entrada }}</td>
                    <td> {{ movimentacao.saida }}</td>
                    <td> {{ movimentacao.valor_pago }}</td>
                    <td> {{ movimentacao.tempo }}</td>
                    <td> {{ movimentacao.vaga }}</td>
                    <td> {{ movimentacao.funcionario }}</td>
                    <td> {{ movimentacao.get_situacao_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h2>Nao existem movimentacoes cadastradas!</h2>
        {% endif %}
    </div>
    <div class="mt-3" style="text-align: center">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?page={{ object_list.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                <strong>{{ object_list.number }}</strong> de {{ object_list.paginator.num_pages }}
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}">Próxima</a>
            {% endif %}
         </span>
    </div>
</section>
{% endblock %}