{% extends 'base.html' %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Dados da Vaga</h3>
                <p class="p-2 mt-2"><strong>Número: </strong> {{ object.numero}} </p>
                  <p class="p-2 mt-2"><strong>Preço: </strong> {{ object.precof }} </p>
                    {% csrf_token %}
                    <p> Confirma a exclusão da vaga "{{ object }}"? </p>
                    <br/>
                    <button class="button is-link is-primary" type="submit">Apagar</button>
                    <button class="button is-danger is-pulled-right" type="reset">
                        <a href="{% url 'vagas' %}">Cancelar</a>
                    </button>
                </form>
            </div>
            </div>
        </div>
</section>
{% endblock %}
