{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="section has-background-link-light">
    <div class="container">
        <form id="form ListaMovimentacoes" action="" method="GET">
            <input type="hidden" name="imprimir" id="imprimir" value="">
            <div class="field is-grouped is-flex is-align-items center is-flex-wrap-wrap">
                <label class="label p-2 mt-2">{{ form.funcionario.label }}</label>
                <div class="control is-expanded">
                    {{ form.funcionario }}
                </div>
                <label class="label p-2 mt-2">{{ form.vaga.label }}</label>
                <div class="control is-expanded">
                    {{ form.vaga }}
                </div>
                <label class="label p-2 mt-2">{{ form.situacao.label }}</label>
                <div class="control is-expanded">
                    {{ form.situacao }}
                </div>
                <div class="control">
                    <button type="button" class="button is-link" onclick="geraPdf('', 'formListaMovimentacoes');">
                        Buscar
                    </button>
                </div>
                <div class="control">
                    <button type="button" class="button is-link" onclick="geraPdf('pdf', 'formListaMovimentacoes');">
                        Imprimir
                    </button>
                </div>
            </div>
        </form>
        {% if object_list %}
        <div style="text-align: center;"><h1 class="subtitle is-size-4">Movimentações</h1></div>
        <div class="table">
            <table class="table is-table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Entrada</th>
                    <th class="has-text-centered">Saida</th>
                    <th class="has-text-centered">Valor Pago</th>
                    <th class="has-text-centered">Tempo</th>
                    <th class="has-text-centered">Vaga</th>
                    <th class="has-text-centered">Funcionário</th>
                    <th class="has-text-centered">Situacão</th>
                </tr>
                </thead>
                <tbody>
                {% for movimentacao in object_list %}
                <tr>
                    <td> {{ movimentacao.entrada }}</td>
                    <td> {{ movimentacao.saida }}</td>
                    <td> {{ movimentacao.valor_pago }}</td>
                    <td> {{ movimentacao.tempo }}</td>
                    <td> {{ movimentacao.vaga }}</td>
                    <td> {{ movimentacao.funcionario }}</td>
                    <td> {{ movimentacao.get_situacao_display }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "paginator.html" %}
</section>
{% endif %}
{% endblock %}